
*{
    margin: 0;
	padding: 0;
}

:root {
    --primary-color : antiquewhite;
    --secondary-color : #2E4A7F;
    --tertiary-color : #228B22;
    --primary-font-family : 'Manrope', sans-serif;
    /* #D2B48C */

}

/*///////////// MISE EN PAGE DU HEADER ////////////////////////////////////*/

header {
    /* image banière */
    background-image: url(images/bannière.png);
    background-size: cover;
    background-position: center; 
    height: 150px;
    /* flex pour position le nav bien au centre*/
    display: flex;
    align-items: center; 
    justify-content: start;
  
}

/* couleur du bandeau + congés sur angle + flex pour aligner image et nav */
.header-nav{
    /* couleur du bandeau et radius */
    background-color: rgb(46, 74, 127,.8);
    border-radius: 10px 40px 10px 40px;
    /* position du bandeau */
    margin-top: 1%; 
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    /* taille du bandeau */
    width: 100%;
    max-width: 100%;
    /* flex du logo et du menu */
    display: flex;
    justify-content: space-around;
    
 } 

 /* proriété du logo et sa position par rapport 
 au bandeau */
.header-logo{
   width: 4em;
   padding-top: 8px;
   padding-bottom: 5px;
   margin-left: 60px;
   border-radius: 25px;

}

.header-ul { 
    /* flex du bloc nav (menu) */
    display: flex;
    flex-direction: row;
    /* wrap pour le menu */
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none; 
    }

   
nav a {
     /* style du texte du bandeau nav*/
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: var(--primary-font-family);
  font-weight:medium;
  

}
/* hover lors du passage sur menu */
nav li:hover {
    /* couleur a définir */
    background-color: rgb(34, 139, 34,.6);
    background-size:cover;
    height: 70%;
    border-radius: 10% 10%;
    /* flex pour aller le texte verticalement */
    display: flex;
    align-items: center; 
} 

/* hover pour le logo header */
.header-logo:hover{
    opacity: .8;
}


    /*//////////////// MISE EN PAGE DU MAIN //////////////////*/

/*/// mise en forme générale /////*/

body{
    background-color: var(--primary-color);
} 

h1{
    margin-left: 5%;
    padding-top: 1%;
    font-family: var(--primary-font-family);
}

h2{
    margin-left: 5%;
    padding-top: 2%;
}

p{
    font-family: var(--primary-font-family);
}

/*//// Mise en forme intro /////*/

.index-intro{
    background-color: antiquewhite;
    text-align: center;
}

.index-intro p {
    width: 80%;
    padding-top: 1%;
    text-align: justify;
    margin: auto;
    margin-bottom: 1%;
}

/*//// Mise en forme index articles /////*/

.index-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1%;
    gap: 2em;
    max-width: 70%;
}

.index-article{
    background-color: #D2B48C ;
    max-width: 90%;
    
}

.index-img {
    width: 23em;
}

footer{
    background-color: #D2B48C;
}




/*         <img src="images/photo-header.jpg" alt="photo d'un massif" class="photo-header"/> */
/* 
.index-section {
    height: 200px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
    background-color: rgb(66, 66, 216);

}


.index-article{
    background-color:rgb(52, 209, 114);
    height: 200px;
} */
/* @media only screen and (min-width:1600px)
{
    .index-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;   
        }
}

@media only screen and (min-width:768px) and (max-width:1599px)
{
    .index-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px; 
        }
}

@media only screen and (max-width:767px)
{ 
    .index-section {
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px; 
    }
} */


/* paramétre du logo */


/*/////////////// MEDIA QUERIES //////////////*/

/* media queries pour iphone 12 PRO */


@media only screen and (max-width:390px) {

    
    .header-logo{
        /* décalage du logo */
    margin-left: 4%;
    }

    .header-nav{
        /* modif radius pour affichage mobile*/
        border-radius: 10px 10px 10px 10px;
    }

    nav a {
        /* style du texte du bandeau nav*/
    font-size: 1.2em;
    font-family: var(--primary-font-family);
    font-weight:medium;
    }
}