
body{
    background-color: beige;
    }

h1{
    text-align: center;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.index-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;

}

.index-sec-fansite{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-right: 2%;
    margin-left: 2%;
    gap:.5em;
    
}

.index-art-fansite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(253, 232, 205);
    border-radius: 10% 10%;
    padding-right: 1%;
    padding-left: 1% ;
    border: 1px solid brown;
    
}

img{
    width: 20em;
    height: 15em;
    margin-bottom: 2em;
}

footer{
    background-color: pink;
}

@media only screen and (max-width:1160px) {

    .index-sec-fansite{
        display: flex;
        flex-direction: column;
   
        margin-right: 2%;
        margin-left: 2%;
        gap:.5em;
        border: 1px yellow solid;
    }

}